@page
@model CRUD_Application_C__Assessment.Views.Companies.CompanyCreateModel
@{
}

<div class="">
    <h1 class="display-4">Create Companies Page</h1>
    <div>
        <div>
            @using (Html.BeginForm())
            {
                @Html.Label("Name")
                @Html.TextBox("Name", null, new { @class = "form-control" })
                @Html.Label("Email")
                @Html.TextBox("Email", null, new { @class = "form-control" })
                @Html.Label("Logo")
                @Html.TextBox("Logo", null, new { @class = "form-control" })
                @Html.Label("Website")
                @Html.TextBox("Website", null, new { @class = "form-control" })

                <button type="submit">Create</button>
            }
        </div>
    </div>
</div>


