@using CRUD_Application_C__Assessment.Views.Companies
@model CRUD_Application_C__Assessment.Models.CompaniesModel[]
@{
    ViewBag.Title = "List Of Companies";
}


<div>
    <h1 class="display-4">@ViewBag.Title</h1>
    <div>
        View:
        
        <div>
            @foreach (var company in Model)
            {
                <div class="border border-dark">
                    <p>@company.Name</p>
                    <p>@company.Id</p>
                    <p>@company.Logo</p>
                    <p>@company.Website</p>
                    <a href="/Companies/CompaniesID/@company.Id">View Company</a>
                    <a asp-area="" asp-controller="Companies" asp-action="ComapnyCreate">Create Company</a>
                </div>
            }



           
        </div>
        <a asp-area="" asp-controller="Companies" asp-action="CompanyCreate">Create Company</a>
        <a asp-area="" asp-controller="Companies" asp-action="CompanyEdit">Edit Company</a>
    </div>
</div>