@using CRUD_Application_C__Assessment.Views
@model CRUD_Application_C__Assessment.Models.EmployeesModel
@{

}

<div class="text-center">
    <h1 class="display-4">Employee: @Model.FirstName @Model.LastName</h1>
    <div>
        <div>
            @Model.FirstName <br />
            @Model.LastName <br />
            @Model.Company <br />
            @Model.Email <br />
            @Model.PhoneNumber <br />
            <a asp-area="" asp-controller="Employees" asp-action="EmployeeEdit">Edit Employee</a>
            <a asp-area="" asp-controller="Employees" asp-action="EmployeeDelete">Delete Employee</a>
        </div>

    </div>
</div>

