@using CRUD_Application_C__Assessment.Views.Employees
@model CRUD_Application_C__Assessment.Models.EmployeesModel[]
@{
    ViewBag.Title = "List Of Employees";
}

<div>
    <h1 class="display-4">@ViewBag.Title</h1>
    <div>
        View:

        <div>
            @foreach (var employee in Model)
            {
                <div class="border border-dark">
                    <p>@employee.FirstName</p>
                    <p>@employee.LastName</p>
                    <p>@employee.Company</p>
                    <p>@employee.Email</p>
                    <p>@employee.PhoneNumber</p>
                </div>
            }




        </div>
        <a asp-area="" asp-controller="Employees" asp-action="EmployeeCreate">Create Employee</a>
        <a asp-area="" asp-controller="Employees" asp-action="EmployeeEdit">Edit Employee</a>
    </div>
</div>